<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #0000;
    }

    section {
        position: absolute;
        display: flex;
        justify-content: center;
      

    }

    section .Signin {
        position: absolute;
        width: 400px;
        background: #222;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 4px;
        box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    }


    section .Signin .content{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

    }




</style>
<body>
    <section>
        <div class="signin">
            <div class="content">
                <h2>Sign In</h2>
                <div class="form">
                    <div class="inputBx">
                        <input type="text" required>
                        <i>Username</i>
                    </div>
                    <div class="inputBx">
                        <input type="password" required>
                        <i>password</i>
                    </div>
                    <div class="links">
                        <a href="#">forgot password</a>
                        <a href="#">signup</a>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="login">
                        <i>Username</i>
                    </div>
                </div>
            </div>
        </div>
    </section>


  

    
</body>
</html>