<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<style>
    body {
        padding: 0;
        margin: 0;
        background-color : black;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
     

    }

    .All {
        animation: inbox 10s;
        animation-duration: 6s;
        background-color :#020412;
        position: relative;
        border: 2px solid white;
        border: none;
        height: 250px;
        width: 550px;
        padding: 3% 3% 20px 0px;
        margin: 50px 90px;
        margin-top: 40px;
        margin-bottom: 3px;
        padding-bottom: 3%;
        color: white;
        
    }

 
    @keyframes inbox {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            left: -10%;
            
        }
        100%{
            left: 0%;
        }
    }

    .Al img {
        float: right;
        width: 400px;
        height: 330px;
        margin-top: 0.1%;
        margin-right: 90px;
        animation: inbo1 3s;
        animation-duration: 10s;

    }


    
    @keyframes inbo1 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -10%;
            
        }
        100%{
            right: 0%;
        }
    }



     

   .All h1 {
        margin: 10px;
        color: greenyellow;       
    }

    .All hr {
        color: greenyellow;
    }

    .All .l {
        transition-delay: 1.5s;
        color: #0f0;
        background-color:#0f0 ;
        box-shadow:0 0 10px #0f0,
                   0 0 20px #0f0,
                   0 0 40px #0f0,
                   0 0 80px #0f0,
                   0 0 160px #0f0,
                   0 0 320px #0f0;
    }


    .All h4 {
        margin: 10px;
        animation: anim 12s;
        transform: scaleX(1);
        letter-spacing: 1px;
        overflow-x: hidden;
      
    }

    
    @keyframes anim {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }

    
    .inpic img {
        display: inline-flex;
        width: 80px;
        height: 80px;
        margin-top: 20px;
        transform: translateX(65%);
        transition: transform 5s  ease-in;
        animation: pict 3s infinite;
        

      
    }

    @keyframes pict {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }








    
    .All2 {
        animation: inbos 10s infinite;
        animation-duration: 20s;
        background-color :#020412;
        position: relative;
        border: 2px solid white;
        border: none;
        height: 250px;
        width: 550px;
        padding: 3% 3% 20px 0px;
        margin: 50px 90px;
        margin-top: 40px;
        margin-bottom: 3px;
        padding-bottom: 3%;
        color: white;
        float: right;
        
    }




    @keyframes inbos {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -10%;
            
        }
        100%{
            right: 100%;
        }
    }





    .Al2 img {
        float: left;
        width: 350px;
        height: 330px;
        margin-top: 5%;
        margin-right: 90px;
        margin-left: 130px;
        animation: inbo2 20s;
        animation-duration: 10s;
    }


    
    @keyframes inbo2 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -20%;
            
        }
        100%{
            right: 0%;
        }
    }





    


    .All2 h4 {
        margin: 10px;
        animation: anim 12s;
        transform: scaleX(1);
        letter-spacing: 1px;
        overflow-x: hidden;
      
    }

    .All2 h1 {
        margin: 10px;
        color:  rgb(212, 65, 241);       
    }

    .All2 hr {
        color: rgb(208, 87, 233);
    }

    .All2 .m {
        transition-delay: 1.5s;
        color:  rgb(122, 7, 145);
        border-radius: 5px;
        background-color: rgb(122, 7, 145) ;
        box-shadow:0 0 10px  rgb(122, 7, 145),
                   0 0 20px  rgb(122, 7, 145),
                   0 0 40px rgb(122, 7, 145),
                   0 0 80px  rgb(122, 7, 145),
                   0 0 160px  rgb(122, 7, 145),
                   0 0 320px  rgb(122, 7, 145);
    }




     .inpic2 img {
        display: inline-flex;
        width: 80px;
        height: 80px;
        margin-top: 20px;
        padding: 2px;
        margin-left: 5px;
        transform: translateX(65%);
        transition: transform 5s  ease-in;
        animation: pict2 3s infinite;
        

      
    }

    @keyframes pict2 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }


  





   



    .All3 {
        animation: inbox3 9s;
        animation-duration: 6s;
        background-color :#020412;
        position: relative;
        border: 2px solid white;
        border: none;
        height: 250px;
        width: 550px;
        padding: 3% 3% 20px 0px;
        margin: 50px 90px;
        margin-top: 40px;
        margin-bottom: 3px;
        padding-bottom: 3%;
        color: white;
        float: left;
        transform: translateX(-200%);
        transition: transform 1s  ease;
        
        
    }



    @keyframes inbox3 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            left: -10%;
            
        }
        100%{
            right: 0%;
        }
    }

    .Al3 img {
        float: right;
        width: 350px;
        height: 330px;
        margin-top: 5%;
        margin-right: 130px;
        margin-left: 90px;
        animation: inbo3 3s;
        animation-duration: 10s;

    }


    
    @keyframes inbo3 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -10%;
            
        }
        100%{
            right: 0%;
        }
    }




    
   .All3 h1 {
        margin: 10px;
        color: rgb(255, 123, 47);       
    }

    .All3 hr {
        color: rgb(255, 123, 47);
    }

    .All3 .n {
        transition-delay: 1.5s;
        color: rgb(255, 81, 0);
        background-color:rgb(255, 81, 0);
        border-radius: 30px;
        box-shadow:0 0 10px rgb(255, 81, 0),
                   0 0 20px rgb(255, 81, 0),
                   0 0 40px rgb(255, 81, 0),
                   0 0 80px rgb(255, 81, 0),
                   0 0 160px rgb(255, 81, 0),
                   0 0 320px rgb(255, 81, 0);
    }



    .All3 h4 {
        margin: 10px;
        animation: anim3 60s;
        transform: scaleX(1);
        letter-spacing: 1px;
        overflow-x: hidden;
      
    }

    @keyframes anim3 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }


    .inpic3 img {
        display: inline-flex;
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-right: 1px;
        padding-right: 2px;
        padding-left: 2px;
    
        transform: translateX(2%);
        transition: transform 5s  ease-in;
        animation: pict3 3s infinite;
        animation-duration: 3s;
        justify-content: center;
        

      
    }

    @keyframes pict3 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }











    
    
    .All4 {
        animation: inbos4 2s;
        animation-duration: 5s;
        background-color :#020412;
        position: relative;
        border: 2px solid white;
        border: none;
        height: 250px;
        width: 550px;
        padding: 3% 3% 20px 0px;
        margin: 50px 90px;
        margin-top: 40px;
        margin-bottom: 3px;
        padding-bottom: 3%;
        color: white;
        float: right;
        transform: translateX(200%);
        transition: transform 1s  ease;
        
        
    }




    @keyframes inbos4 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -10%;
            
        }
        100%{
            right: -0%;
        }
    }





    .Al4 img {
        float: left;
        width: 350px;
        height: 330px;
        margin-top: 2%;
        margin-right: 90px;
        margin-left: 130px;
        animation: inbo4 20s;
        animation-duration: 10s;
    }


    
    @keyframes inbo4 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -20%;
            
        }
        100%{
            right: 0%;
        }
    }





    


    .All4 h4 {
        margin: 10px;
        animation: anim 44s;
        transform: scaleX(1);
        letter-spacing: 1px;
        overflow-x: hidden;
      
    }

    .All4 h1 {
        margin: 10px;
        color:  rgb(87, 114, 233);       
    }

    .All4 hr {
        color: rgb(87, 114, 233);
    }

    .All4 .o {
        transition-delay: 1.5s;
        border-radius: 80px;
        color:  rgb(7, 55, 145);
        background-color:rgb(7, 55, 145) ;
        box-shadow:0 0 10px rgb(7, 55, 145),
                   0 0 20px rgb(7, 55, 145),
                   0 0 40px rgb(7, 55, 145),
                   0 0 80px rgb(7, 55, 145),
                   0 0 160px rgb(7, 55, 145),
                   0 0 320px rgb(7, 55, 145);
    }




     .inpic4 img {
        display: inline-flex;
        width: 80px;
        height: 80px;
        margin-top: 20px;
        padding: 2px;
        margin-left: 5px;
        transform: translateX(65%);
        transition: transform 5s  ease-in;
        animation: pict4 3s infinite;
        

      
    }

    @keyframes pict4 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }












    
    .All5 {
        animation: inbox5 5s;
        animation-duration: 5s;
        background-color :#020412;
        position: relative;
        border: 2px solid white;
        border: none;
        height: 250px;
        width: 550px;
        padding: 3px 3px 20px 0px;
        margin: 40px 30px;
        margin-top: 5%;
        margin-bottom: 2px;
        padding-bottom: 3%;
        color: white;
        float: left;
        transform: translateX(-200%);
        transition: transform 1s ease;
        
    }

 
    @keyframes inbox5 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            left: -10%;
            
        }
        100%{
            left: 0%;
        }
    }

    .Al5 img {
        float: right;
        width: 350px;
        height: 330px;
        margin-top: 5%;
        margin-right: 130px;
        margin-left: 250px;
        animation: inbo5 3s;
        animation-duration: 10s;

    }


    
    @keyframes inbo5 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -10%;
            
        }
        100%{
            right: 0%;
        }
    }



     

   .All5 h1 {
        margin: 20px;
        color: yellow;       
    }

    .All5 hr {
        color: yellow;
    }

    .All5 .p {
        transition-delay: 1.5s;
        color: rgb(229, 255, 0);
        background-color:rgb(229, 255, 0);
        box-shadow:0 0 10px rgb(229, 255, 0),
                   0 0 20px rgb(229, 255, 0),
                   0 0 40px rgb(229, 255, 0),
                   0 0 80px rgb(229, 255, 0),
                   0 0 160px rgb(229, 255, 0),
                   0 0 320px rgb(229, 255, 0);
    }


    .All5 h4 {
        margin: 10px;
        animation: anim5 33s;
        transform: scaleX(1);
        letter-spacing: 1px;
        overflow-x: hidden;
        color: white;
      
    }

    
    @keyframes anim5 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }

    
    .inpic5 img {
        display: inline-flex;
        width: 130px;
        height: 100px;
        margin-top: 5px;
        padding-right:auto;
        transform: translateX(2%);
        margin-right:1px;
        transition: transform 5s  ease-in;
        animation: pict5 3s infinite;
        

      
    }

    @keyframes pict5 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }


















    
    .All6 {
        animation: inbos6 10s;
        animation-duration: 6s;
        background-color :#020412;
        position: relative;
        border: 2px solid white;
        border: none;
        height: 250px;
        width: 550px;
        padding: 3% 3% 20px 0px;
        margin: 50px 90px;
        margin-top: 40px;
        margin-bottom: 3px;
        padding-bottom: 3%;
        color: white;
        float: right;
        transform: translateX(200%);
        transition: transform 1s  ease;
        
        
        
    }




    @keyframes inbos6 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -10%;
            
        }
        100%{
            right: 0%;
        }
    }





    .Al6 img {
        float: left;
        width: 350px;
        height: 330px;
        margin-top: 5%;
        margin-right: 90px;
        margin-left: 130px;
        animation: inbo6 20s;
        animation-duration: 10s;
    }


    
    @keyframes inbo6 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
        0% {
            right: -20%;
            
        }
        100%{
            right: 0%;
        }
    }





    


    .All6 h4 {
        margin: 10px;
        animation: anim6 12s;
        transform: scaleX(1);
        letter-spacing: 1px;
        overflow-x: hidden;
      
    }

    .All6 h1 {
        margin: 10px;
        color:  rgb(65, 241, 197);       
    }

    .All6 hr {
        color: rgb(65, 241, 197);
    }

    .All6 .q {
        transition-delay: 1.5s;
        color:  rgb(65, 145, 138);
        border-radius: 10px;
        background-color:rgb(65, 145, 138);
        box-shadow:0 0 10px rgb(65, 145, 138),
                   0 0 20px rgb(65, 145, 138),
                   0 0 40px rgb(65, 145, 138),
                   0 0 80px rgb(65, 145, 138),
                   0 0 160px rgb(7, 145, 138),
                   0 0 320px rgb(7, 145, 138);
    }




     .inpic6 img {
        display: inline-flex;
        width: 80px;
        height: 80px;
        margin-top: 10px;
        padding: 2px;
        margin-left: 5px;
        transform: translateX(65%);
        transition: transform 5s  ease-in;
        animation: pict6 7s steps(10) infinite;
        

      
    }

    @keyframes pict6 {
        from{
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }


  





   





 


    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
        transition-delay: 0.2s;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transition: all 6s;
     
    }

    .show {
        transform: translateX(0);
   
    }

   




</style>
<body>
    <div class="Al">
        <img name= "slide" class="pic">
        <div class="All">
            <h1><span class="l">L --</span><span class="k" style="visibility: hidden;">hey</span>Let's sell to you</h1>
            <hr>
            <h4><span style="color: #0f0;">@</span>fintech, we sell all kinds of laptop at cheap prices also deal with <br> 
                new laptops.You can also find london Used laptops at fintech at<br>  cheaper price 
             and  clean shape.We have diffrent products of laptops <span class="op">at fintech, such as Hp, DELL, 
                TOSHIBA, Lenovo, and many more</span> </h4>

            <div class="inpic">
                <img src="p2.png" class="pic">
                <img src="p3.png" class="pic">
                <img src="p18.png" class="pic">

            </div>
    
    
            
        </div>
       
    </div>





    <div class="Al2">
        <img src="p24.png" name="slide2" class="pic">
        <div class="All2">
            <h1><span class="m">L --</span><span class="k" style="visibility: hidden;">hey</span>Let's buy from you</h1>
            <hr>
            <h4><span style="color:purple;">@</span>fintech, we buy all kinds of used laptop at normal prices while we  <br> 
                the necessary things on the laptops before buying. Before buying a used laptop,we need to check the hard-disk, 
                the neatness,the ram,the processor,CD jack/charging port,battery capacity,display etc<span class="op">these qualities 
                 will determine the price of such laptop  </span> </h4>
            
            <div class="inpic2">
                <img src="p20.png" class="pic">
                <img src="p21.png" class="pic">
                <img src="p22.png" class="pic">
    
            </div>
        
        
    
    
        </div>

    </div>
    
    
       
    
       <div class="Al3">
        <img src="p9.png" name= "slide3" class="pic">
        <div class="All3">
            <h1><span class="n">L --</span><span class="k" style="visibility: hidden;">hey</span>Let's swap your used laptop</h1>
            <hr>
            <h4><span style="color: rgb(255, 81, 0);">@</span>fintech, we swap all kinds of laptop to your choice depending on the generation 
                of the laptop You want to swap.we swap all kinds of laptops such as Hp, DELL,
                TOSHIBA, Lenovo, and many more including mini laptops  
                 </h4>



                <div class="inpic3">

                    <img src="p12.png" class="pic">
                    <img src="p10.png" class="pic">
                    <img src="p11.png" class="pic">
                   
        
                </div>
            
    
    
    
        </div>

  

         </div>





       <div class="Al4">
        <img src="p2.png" name= "slide4" class="pic">
        <div class="All4">
            <h1><span class="o">L --</span><span class="k" style="visibility: hidden;">hey</span>Let's repair your faulty laptops</h1>
            <hr>
            <h4><span style="color: rgb(7, 55, 145);">@</span>fintech, we repair all kinds of laptops irrespective of the kind of fault your laptop might have developed               
                 At Fintech, we don't take much in repairing your laptops for you. if the fault is not from the board, we repair within a week
                but if it on board, it might take up to 2 to 3 weeks. </h4>

            <div class="inpic4">
                <img src="p25.png" class="pic">
                <img src="p22.png" class="pic">
                <img src="p8.png" class="pic">

            </div>
    
    
            
        </div>




        <div class="Al5">
            <img src="asus2.png" name= "slide5" class="pic">
            <div class="All5">
                <h1><span class="p">L --</span><span class="k" style="visibility: hidden;">hey</span>Be an expert in a tech path </h1>
                <hr>
                <h4><span style="color: yellow;">@</span>fintech, we teach students on how to be a professional in their desired tech field. Tech is taking over the world.
                    we teach students on courses like web development,cybersecurity,computer enginerring,UI/UX design and python programming
                 </h4>
    
                <div class="inpic5">
                    <img  src="asus20.png" style="float: left;" class="pic" >
                    
                   
                </div>
        
        
                
            </div>
       
        </div>

    


        <div class="Al6">
            <img src="p20.png" name= "slide6" class="pic">
            <div class="All6">
                <h1><span class="q">L --</span><span class="k" style="visibility: hidden;">hey</span>Our prices and address</h1>
                <hr>
                <h4><span style="color:  rgb(65, 145, 138) ;">@</span>fintech, we consider the financial situation of our clients 
                    we dnt charge much prices on our courses. Web development: #150,000, cybersecurity: #250,000, computer enginerring:#120,000, UI/UX design: #100,000, and python programming:#100,000.
                 We are located at top floor, IP building,opposite Adamasingba stadium, Mokola, Ibadan, Oyo state</h4>
    
                <div class="inpic6">
                    <img src="p4.png" class="pic">
                    <img src="p17.png" class="pic">
                    <img src="p3.png" class="pic">
    
                </div>
        
        
                
            </div>
       
        </div>



</body>

<script>

    
    const boxes = document.querySelectorAll('.Al');
    const image = document.querySelectorAll('.Al2');
    const images = document.querySelectorAll('.All3');
    const image4 = document.querySelectorAll('.All4');
    const image5 = document.querySelectorAll('.All5');
    const image6 = document.querySelectorAll('.All6');

    window.addEventListener('scroll', checkboxes);
    
        checkboxes();

    function checkboxes() {
        const triggerButton =window.innerHeight / 5* 4


        boxes.forEach(box => {
            const boxTop = box.getBoundingClientRect().top;


            if(boxTop < triggerButton){
                box.classList.add('show');
            } else {
                box.classList.remove('show');
            }
        });


        
        image.forEach(box => {
            const boxTop = box.getBoundingClientRect().top;


            if(boxTop < triggerButton){
                box.classList.add('show');
            } else {
                box.classList.remove('show');
            }
        });


        
        images.forEach(box => {
            const boxTop = box.getBoundingClientRect().top;


            if(boxTop < triggerButton){
                box.classList.add('show');
            } else {
                box.classList.remove('show');
            }
        });
    



        
        
         image4.forEach(box => {
            const boxTop = box.getBoundingClientRect().top;


            if(boxTop < triggerButton){
                box.classList.add('show');
            } else {
                box.classList.remove('show');
            }
        });



        image5.forEach(box => {
            const boxTop = box.getBoundingClientRect().top;


            if(boxTop < triggerButton){
                box.classList.add('show');
            } else {
                box.classList.remove('show');
            }
        });




        image6.forEach(box => {
            const boxTop = box.getBoundingClientRect().top;


            if(boxTop < triggerButton){
                box.classList.add('show');
            } else {
                box.classList.remove('show');
            }
        });




    }



    






    var i = 0;
    var imagess = [];
    var time = 1000;


    imagess[0] = 'p1.png';
    imagess[1] = 'p5.png';
    imagess[2] = 'p6.png';
    imagess[3] = 'p14.png';
    imagess[4] = 'p15.png';
    imagess[5] = 'p16.png';


    function changeimg(){
        document.slide.src = imagess[i];


        if(i < imagess.length - 1){
            i++;
        } else {
            i= 0;
        }

        setTimeout("changeimg()", time);
    }
    window.onload = changeimg
    






    

</script>
</html>